body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}

@media (max-width: 600px) {
    .HeaderContainer--container {
        height: 100% !important;
        display: flex !important;
        flex-direction: row !important;
        width: 5% !important;
        align-items: flex-start !important;
        
    }

    .HeaderContainer {
        width: 50% !important;
        bottom: 19% !important;
        left: 20px;
    }
}

.HeaderContainer--container {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.HeaderContainer {
    position: absolute;
}