body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}

.Header {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 1px 1px black;
    height: 40px;
    padding: 5px;
}

.Header--text-border  {
    margin-left: 5px;
}

.Header--text-user {
    margin-right: 5px;
}